{% extends "core/base.html" %}

{% block title  %}{{title}}{% endblock  %}

{% block content %}
<div class="w-3/4  p-6 my-6 mx-auto bg-blue-100 rounded-xl">
<h1 class="mb-6 text-3xl">{{title}}</h1>

<form method ="post" action ="." enctype="multipart/form-data">
    {% csrf_token%}

    <div class="space-y-4">
        {{form.as_p}}
    </div>

    {%if form.errors or form.non_field_errors %}
    <div class="mb-3 p-6 bg-red-100 rounded-xl">
        {% for field in form%}
            {{field.errors}}
       {%endfor%}
    

{{ form.non_field_errors}}
</div>
{%endif%}


<button type="submit" formmethod="post" class=" mt-6 px-6 py-3 text-lg font-semibold rounded-xl bg-blue-300 hover:bg-blue-500 border-b border-blue-300">Add Item </button>



</form>




{% endblock%}
</div>

